<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/Log"/>
  <targets async="true">
    <target name="file"
            xsi:type="File"
            header="日期     种类    信息    来源"
            footer="-------------------------------"
            layout="${date:format=HH\:mm\:ss} ${level} ${message} ${callsite}"
            fileName="${logDirectory}/${shortdate}.txt"/>

    <target name="debugger" xsi:type="Debugger" layout="${message}"/>
    <target name="exceptionfile"
              xsi:type="File"
              header="日期           种类     信息"
              footer="-------------------------------"
              layout="${date:format=HH\:mm\:ss\:ms}   ${level}   ${message}   来源:${callsite}  调用堆栈:${stacktrace} ${newline}"
              fileName="${logDirectory}/${shortdate}report.txt"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,debugger"/>
  </rules>
</nlog>
