
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form enctype="multipart/form-data">
            <input type="file" name="ddd" id="test" />
        </form>
    </div>
    <script src="~/Content/AmazeUI-2.7.0/js/jquery.min.js"></script>
    <script src="~/Content/jquery.form.js"></script>

    <script>
        $(function () {
            $('#test').change(function () {
                $(this).parent().ajaxSubmit({
                    type: 'POST',
                    url: 'http://192.168.31.221:81/api/up/web/@ViewBag.appid/45/?key=@ViewBag.key&timestamp=@ViewBag.timestamp&sign=@ViewBag.sign',
                    success: function (res) {
                        console.info(res);
                    },
                    error: function (res) {
                        console.info(res);
                    }
                }) 
            });

        })
    </script>
</body>
</html>
